h1 figcaption {
  font-size: 50px;
  color: rgba(0, 0, 0, 10);
  position: absolute;
  top: 20px;
  display: flex;
  width: 100%;
  height: 10%;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.decorator {
  background-color: rgba(0, 0, 0, 0);
}

.box1, .box2, .box3, .box4, .box5, .box6 {            	
  float: left;
  min-width: 180px;
  width: 16.6%; }// 6分割

  .main-menu{
    display:frex;
    list-style: none;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

body {
  margin:1px;
}

/* 画面幅の100%の幅で画像を表示 */
.image-vw {
  width : 97vw ; 
}

h2 {
  font-size: 20px;
  padding: 0px 0px 0px 0px;
  color: rgba(0, 0, 0, 10);
}
