h1{
  color: red;
  text-align: center;
}

.box1, .box2, .box3, .box4, .box5, .box6 {            	
  float: left;
  min-width: 200px;
  width: 20%; }// 5分割

  .main-menu{
    list-style: none;
}
body {
 
  margin:0px;
}

/* 画面幅の50%の幅で画像を表示 */
.image-vw {
  width : 100vw ; 
}
