h1{
  colore:red;
  text-align: center;
}

.box1, .box2, .box3, .box4, .box5, .box6 {
  			            	float: left;
                      min-width: 200px;
  width: 20%; }// 5分割

  .main-menu{
    list-style: none;
}
body {
  background-color:red;
  background-image: url("IMG_4480.HEIC");
  background-size: cover;
  margin:15px;
}

p {
  background-color:red;
}
